<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
</head>
<body>
    <h1>Hello world</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nam dolorum dolore sunt vitae nisi itaque sit adipisci fugit, sint dignissimos quisquam excepturi accusantium ratione omnis exercitationem voluptatibus natus at.</p>

    <h1>new title</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, quidem quibusdam qui, veniam facere temporibus repellat ipsum harum et laudantium maxime aperiam quo. Incidunt debitis ipsa sed itaque et vero.</p>

</body>
</html>